.titlee{
    color: red;
    font-size: 60px;
    text-align: center;
}
.padre{
    min-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.padre .hijo{
    min-width: 100px;
    height: 100px;
    background-color: aqua;

}